<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
</head>
<body>
Вход
<p></p>
<form action="/login" method="post">
    <div><label> Имя пользователя : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <p></p>
    <div><input type="submit" value="Войти в систему"/></div>
    <p></p>
</form>
<a href="/registrationUser">Зарегистрироваться как пользователь</a>
<div></div>
<a href="/registrationAdmin">Зарегистрироваться как администратор</a>
<div></div>
<a href="/">Вернуться на главную</a>
</body>
</html>